#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}



.container{
  padding: 10px;
  background-color: rgba(240, 255, 255, 0.488);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container h2{
  font-size: 30px;
  background-color: blue;
  border-radius: 4px;
  color: #fff;
  width: 180px;
  padding: 3px;
}

.container p{
  font-weight: bolder;
}

.container p span{
  color: rgb(0, 0, 0);
}
