#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 40px;
 justify-content: center;
}



.container{
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 600px;
  align-items: center;
}



.container h2{
  font-size: 30px;
  text-align: center;
  background-color: blue;
  border-radius: 4px;
  color: #fff;
  width: 180px;
  padding: 3px;
}

.container p{
  font-weight: bolder;
}

.container p span{
  color: rgb(0, 0, 0);
}
